<a name="comment_<%= comment.id %>"></a>
<div class="well">
  <p>
    <strong><%= comment.created_at %></strong>
  </p>
  <p>
    <%= comment.body %>
  </p>

  <p>
    <%= link_to 'Destroy Comment', [comment.article, comment],
                 method: :delete,
                 data: { confirm: 'Are you sure?' } %>
  </p>
</div>